<!-- 실제 컨텐츠 영역 -->
<div class="content-card">    
    <div class="mt-4">
        <div class="conversation">
            <!-- Q1 -->
            <div class="alert alert-light mb-4" role="alert" style="border-left: 5px solid #f8c51c;">
                <h5><span style="font-size: 1.5rem;">💡</span> <strong>문의하기</strong></h5>
                <br>
                <h6>email : gq.newslens@gmail.com</h6>

                <!--<p>엄격히 말해, <strong>노(No)입니다</strong>. AI 생성 콘텐츠는 다음과 같은 다각적 검증 프로세스가 필수적입니다:</p> -->
            </div>

        </div>
    </div>
    <br>
    <div class="mt-10 text-center">
        <a href="/lecture04" class="btn btn-primary btn-sm me-2">
            <i class="fas fa-arrow-left me-2"></i>이전 강의
        </a>
    </div>
</div>